<mat-drawer-container class="example-container">
  <mat-drawer #drawer [mode]="Over" position="end" class="bid-challenge">
    <app-add-bid-challenge *ngIf="showDrawer == 'addBidChallenge'"></app-add-bid-challenge>
  </mat-drawer>
  <mat-drawer-content>
    <div class="forms-wrapper">
      <div class="forms-wrapper__container">
        <div class="forms-wrapper__container__text">
          <div class=" "><span>Challenge</span></div>
        </div>
        <div class="add-form-container">
          <div class="add-form-button" (click)="displayDrawer('addBidChallenge'); drawer.toggle()">
            <div>
              <div><span class="material-icons">add</span></div>
            </div>
            <div class="add-form-button-text">
              <div><span>Add Challenge</span></div>
            </div>
          </div>
        </div>
      </div>
      <hr class="horizontal-line" />
      <div id="challengeDiv" (click)="onClosedChallengeDrawer(); drawer.toggle()"></div>
      <div id="closedDrawerDiv" (click)="onClosedDrawer(); drawer.toggle()"></div>
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
          <!-- department head Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>
          <ng-container matColumnDef="bidId">
            <th mat-header-cell *matHeaderCellDef>Bid ID</th>
            <td mat-cell *matCellDef="let element"> {{element.bidId}} </td>
          </ng-container>
          <ng-container matColumnDef="startTime">
            <th mat-header-cell *matHeaderCellDef>Start Date</th>
            <td mat-cell *matCellDef="let element"> {{element.startTime | date:'d MMM y'}} </td>
          </ng-container>
          <ng-container matColumnDef="endTime">
            <th mat-header-cell *matHeaderCellDef>End Date</th>
            <td mat-cell *matCellDef="let element"> {{element.endTime | date:'d MMM y'}} </td>
          </ng-container>
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>Status</th>
            <td mat-cell *matCellDef="let element">
              <span *ngIf="element.status == bidChallengeStatus.ONGOING" class="ongoing-bid">ongoing</span>
              <span *ngIf="element.status == bidChallengeStatus.NOTSTARTED" class="not-started-bid">not started</span>
              <span *ngIf="element.status == bidChallengeStatus.ENDED" class="ended-bid">ended</span>
            </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element">
              <button mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon"
                (click)="openDeleteBidChallengePopup(element.id)">
                <span class="material-icons">delete</span>
              </button>
            </td>
          </ng-container>
          <ng-container matColumnDef="noRecords">
            <td mat-footer-cell *matFooterCellDef class="error-message">
              No records found
            </td>
          </ng-container>
          <tr mat-footer-row
            *matFooterRowDef=" !dataSource || !dataSource.data || !dataSource.data.length ? ['noRecords'] : []"
            [ngClass]="{'hide' : dataSource && dataSource.data && dataSource.data.length }"></tr>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10,20,30]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </mat-drawer-content>


  <!-- delete modal -->

  <ng-template #callAPIDialog>
    <div class="parent-wrapper">
      <h2 matDialogTitle class="add-folder-title">Delete</h2>

      <mat-dialog-content>
        <div class="delete-message">
          Are you sure you want to Delete?
        </div>
      </mat-dialog-content>
      <mat-dialog-actions align="end" class="noyes">
        <button class="yes" mat-button (click)="onDeleteBidChallengeItems()">Yes</button>
        <button class="no" mat-button (click)="onNoClick()">No</button>
      </mat-dialog-actions>
    </div>
  </ng-template>
